Amanda baked cookies and will bring Jerry some tomorrow.
Olivia and Olivier are voting for liberals in this election. 
Kim may try the pomodoro technique recommended by Tim to get more stuff done.
Edward thinks he is in love with Bella. Rachel wants Edward to open his door. Rachel is outside. 
Sam is confused, because he overheard Rick complaining about him as a roommate. Naomi thinks Sam should talk to Rick. Sam is not sure what to do.
Wyatt reminds Neville his wedding anniversary is on the 17th of September. Neville's wife is upset and it might be because Neville forgot about their anniversary.
John didn't show up for class due to some work issues with his boss. Cassandra, his teacher told him which exercises to do, and which chapter to study. They are going to meet up for a beer sometime this week after class. 
Sarah sends James an instrumental song he might like. James knows the song. The brain connects the songs to the context they were played in and brings to mind the associated memories.
Noah wants to meet, he quit his job, because his boss was a dick.
Matt invites Agnes for a date to get to know each other better. They'll go to the Georgian restaurant in Kazimierz on Saturday at 6 pm, and he'll pick her up on the way to the place.
Demi got promoted. She will celebrate that with Lucas at Death & Co at 10 pm.
Mark just shipped the goods and he will send George the tracking number tomorrow.
Anita is at Bologna station.
Arthur is still unemployed. Leon sends him a job offer for junior project manager position. Arthur is interested.
Macca has done ice climbing for the first time today, close to Reykjavik. He enjoyed it very much.
Isabella feels bad after the Christmas party. She got drunk. She is ashamed to go back to work. 
Lucy owes Tina 50 dollars. She made a transfer but it is Sunday so the payment will be on Tina's account on Monday. Tina needs the money because she has been having expanses recently.
Betty feels remorse she got drunk last night and went out of control.
Mike and Mary are going to visit Mike's grandma tonight. Mary will buy her some chocolate.
Laura will pick up Kim from work around 7, and they will come back home together.
