A will go to the animal shelter tomorrow to get a puppy for her son. They already visited the shelter last Monday and the son chose the puppy. 
Emma and Rob love the advent calendar. Lauren fits inside calendar various items, for instance, small toys and Christmas decorations. Her children are excited whenever they get the calendar.
Madison is pregnant but she doesn't want to talk about it. Patricia Stevens got married and she thought she was pregnant. 
Marla found a pair of boxers under her bed.
Robert wants Fred to send him the address of the music shop as he needs to buy guitar cable.
Megan needn't buy milk and cereals. They're in the drawer next to the fridge.
Samantha and Evelyn after watching the video cannot believe she is able to make that noise.
Tom's new place is in Fiesole. Luis and Marion has been there. 
Jane made a 9 PM reservation for 6 people tonight at Vegano Resto. 
Nancy's working in Texas, but the kids laugh at her Welsh accent. She's coming home in 6 weeks. Earlier than that she's going to travel with 3 other Brits.
